<div class="container{% if section.settings.fullwidth %}-fluid p-0{%endif%} my-{{ section.settings.margin }} gx-0" 
style="background-color: {{ section.settings.bg_color }}">
 <div class="row gx-0">
    <div class="col-12 col-lg-6 order-first image-col{%if section.settings.layout == "2" %} order-lg-last{%endif%}" style="min-height: 250px;">
      {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | image_url }}" class="img-fluid" alt="{{ section.settings.alt }}" />
     {% else %}
            <img src="{{ 'placeholder.svg' | image_url }}" class="placeholder-svg" alt="{{ section.settings.image }}" />
    {% endif %}
    </div>
    <div class="col-12 col-lg-6 align-self-center text-col py-5 px-5 order-last{%if section.settings.layout == "2" %} order-lg-first{%endif%}"
    style="color: {{ section.settings.text_color }}">
      <h{{ section.settings.heading_size }} class="mb-3">{{ section.settings.heading }}</h{{ section.settings.heading_size }}>
      <p class="mb-4" style="font-size: {{ section.settings.text_size }}">{{ section.settings.content }}</p>
      {% if section.settings.btn_label != blank %}
      <a class="btn btn-{{ section.settings.btn_color }} btn-{{ section.settings.btn_size }}" tabindex="-1" role="button" href="{{ section.settings.btn_link }}">
          {{ section.settings.btn_label }}
      </a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
    "name": "Image with Text",
    "description": "Image with Text section containing 1 column for image and 1 column for content",
    "settings": [
    {
        "type": "checkbox",
        "id": "fullwidth",
        "label": "Full Width"
    },
    {
        "type": "select",
        "id": "margin",
        "label": "Section Margin",
        "options": [
        {
            "label": "Large",
            "value": "5"
        },
        {
            "label": "Medium",
            "value": "3"
        },
        {
            "label": "Small",
            "value": "1"
        },
        {
            "label": "None",
            "value": "0"
        }]
    },
    {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "1",
        "options": [
        {
            "label": "Image Left Content Right",
            "value": "1"
        },
        {
            "label": "Content Left Image Right",
            "value": "2"
        }]
    },
    {
        "type": "color",
        "id": "bg_color",
        "label": "Section Background Color",
        "default": "#FFF"
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#000"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
        "type": "text",
        "id": "alt",
        "label": "Image Alt Text"
    },
    {
        "type": "text",
        "id": "heading",
        "label": "Heading"
    },
    {
        "type": "select",
        "id": "heading_size",
        "label": "Heading Size",
        "default": "1",
        "options": [
        {
            "label": "H1",
            "value": "1"
        },
        {
            "label": "H2",
            "value": "2"
        },
        {
            "label": "H3",
            "value": "3"
        }]
    },
    {
        "type": "richtext",
        "id": "content",
        "label": "Text"
    },
    {
        "type": "select",
        "id": "text_size",
        "label": "Text Size",
        "options": [
        {
            "label": "Normal",
            "value": "1rem"
        },
        {
            "label": "Medium",
            "value": "1.2rem"
        },
        {
            "label": "Large",
            "value": "1.5rem"
        }]
    },
    {
        "type": "text",
        "id": "btn_label",
        "label": "Button Label"
    },
    {
        "type": "url",
        "id": "btn_link",
        "label": "Button Link"
    },
    {
        "type": "select",
        "id": "btn_color",
        "label": "Button Color",
        "options": [
        {
            "label": "Primary",
            "value": "primary"
        },
        {
            "label": "Secondary",
            "value": "secondary"
        },
        {
            "label": "Success",
            "value": "success"
        },
        {
            "label": "Danger",
            "value": "danger"
        },
        {
            "label": "Warning",
            "value": "warning"
        },
        {
            "label": "Info",
            "value": "info"
        },
        {
            "label": "Light",
            "value": "light"
        },
        {
            "label": "Dark",
            "value": "dark"
        },
        {
            "label": "Link",
            "value": "link"
        }]
    },
    {
        "type": "select",
        "id": "btn_size",
        "label": "Button Size",
        "options": [
        {
            "label": "Small",
            "value": "sm"
        },
        {
            "label": "Large",
            "value": "lg"
        }]
    }
]
}
{% endschema %}